.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px;
  padding: 20px;
  border-radius: 12px;
  color: #00bcd4;
  &.light {
    background-color: antiquewhite;
    border: 1px solid black;
  }

  &.dark {
    background-color: #222;
    color: #00bcd4;
  }
}
