.login-container {
  max-width: 400px;
  min-width: 200px;
  margin: 6rem auto;
  padding: 2rem 2.5rem;
  border-radius: 12px;
  background-color: #ffffff;

  .login-title {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 2rem;
    color: black;
  }

  .login-form {
    display: flex;
    flex-direction: column;
  }
  .auth-error {
    color: #ff4d4f;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }

  .btn-container {
    display: flex;
    gap: 10px;
  }
}
