.movieMain-Container {
  .movieMain-movieCard {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .addMoiveBtn {
    display: flex;
    justify-content: center;
    padding: 10px 0 20px 0;

    button {
      background-color: transparent; //투명한 색상
      border: 1px solid #00bcd4;
      color: #00bcd4;
      padding: 8px 16px;
      border-radius: 6px;
      font-size: 1rem;
      cursor: pointer;
      transition: all 0.3s;

      &:hover {
        color: #fff;
        transform: translateY(-2px);
      }
    }
  }

  &.dark {
    @include theme-dark;
  }

  &.light {
    @include theme-light;
  }
}
