.MovieCard-Container {
  display: inline-block;
  padding: 10px;
  margin: 10px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: antiquewhite;
  color: darkblue;
  // background: linear-gradient(to right, #2c5364, #203a43);
  // background-color: #0f2027;
  img {
    width: 280px;
    height: 300px;
    border-radius: 10px;
  }

  .title {
    text-align: left;
    font-weight: bold;
    font-size: large;
  }

  .vote_average {
    text-align: left;
    font-weight: bold;
    font-size: large;
  }
}
