.movie-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 20px;
  padding: 0 30px;
  max-width: 1400px;
  margin: 0 auto;
}

.movie-card {
  width: 100%;
  max-width: 180px; /* 카드 전체 최대 크기 축소 */
  margin: 0 auto;
}

.movie-card img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
