.navbar {
  width: 100%;
  height: 80px;
  background-color: #1e1e1e;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 40px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

.logo {
  color: white;
  font-size: 20px;
  position: absolute;
  left: 30px;
  text-decoration: none;
}

.search-container {
  position: relative;
  width: 500px;
}

.search-input {
  width: 100%;
  height: 45px;
  border-radius: 8px;
  padding: 0 14px;
  font-size: 17px;
  border: none;
  outline: none;
}

.autocomplete-box {
  position: absolute;
  width: 100%;
  top: 50px;
  left: 0;
  background: #2c2c2c;
  border-radius: 8px;
  overflow: hidden;
  z-index: 1000;
}

.autocomplete-item {
  padding: 12px;
  cursor: pointer;
  color: white;
}

.autocomplete-item:hover {
  background: #444;
}
