# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

#env 파일
.env
.env.local
.env.development
.env.production

accessToken = "eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI5NDBjNWFmNWJlYTY1Yzg3M2IzNGMyZWRiOGY0MzgzMCIsIm5iZiI6MTc2MTU1MTIzMy4zMTksInN1YiI6IjY4ZmYyMzgxNzFkNTcwZjJiMjNiZmM5NyIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.qVIM2hNsc2pDnTi1RzEWr7P4mXLu2zUg-8eU_iKHotg"

ApiKey = 940c5af5bea65c873b34c2edb8f43830