.swiper {
  width: 100%;
  height: 644px;
}

.swiper-slide {
  position: relative;
  width: 1254px;
  height: 605px;
  opacity: 0.4;
  filter: blur(8px);
  transform: scale(0.9);
  transition: all 0.5s ease;
}

.swiper-slide-active {
  opacity: 1 !important;
  filter: blur(0) !important;
  transform: scale(1) !important;
  z-index: 2;
}

/* 양옆 슬라이드 */
.swiper-slide-prev,
.swiper-slide-next {
  opacity: 0.6;
  filter: blur(40px);
}

.swiper-button-next,
.swiper-button-prev {
  color: #fff !important;
  background: rgba(0, 0, 0, 0.5);
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 20px;
}

.swiper-pagination-bullet {
  background: #fff !important;
  width: 10px;
  height: 10px;
  opacity: 0.5;
}

.swiper-pagination-bullet-active {
  opacity: 1 !important;
  background: #ff1a66 !important;
  width: 12px;
  height: 12px;
}

@media (max-width: 768px) {
  .swiper {
    height: 350px;
  }
}
